table {
    border-collapse:collapse;
    border:none;
}
th, td {
    border:solid #000 2px;
}
th {
    text-align: center;
}
.info-index {
    width: 3em;
    text-align: center;
}
.info-type {
    width: 3em;
    text-align: center;
}
.info-name {
    width: 10em;
    text-align: left;
}
.info-model {
    width: 8em;
    text-align: left;
}
.info-id {
    width: 8em;
    text-align: left;
}
.info-contract-id {
    width: 8em;
    text-align: left;
}
.info-manager {
    width: 4em;
    text-align: center;
}
.info-status {
    width: 3em;
    text-align: center;
}
.info-location {
    width: 5em;
    text-align: left;
}
.info-contract-file {
    width: 8em;
    text-align: left;
}
.info-photo {
    width: 6em;
    text-align: center;
}
.info-photo {
    width: 5em;
    text-align: center;
}
.info-location-photo {
    width: 5em;
    text-align: center;
}
.info-comment {
    width: 12em;
    text-align: left;
}
.info-operation {
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}
.form-group {
    display: inline-block;
    margin: 1px;
}
.form-operation {
    vertical-align: sub;
}
select, input {
    height: 2em;
}
#select-name, #insert-name {
    width: 10em;
}
#select-model, #insert-model {
    width: 8em;
}
#select-id, #insert-id {
    width: 8em;
}
#select-contract-id, #insert-contract-id {
    width: 8em;
}
#select-manager, #insert-manager {
    width: 6em;
}
#select-location, #insert-location {
    width: 8em;
}
#insert-comment {
    width: 20em;
}
#select-box {
    display: none;
}
#insert-box {
    display: none;
}
.form-contract-file {
    width: 20em;
}
.form-photo {
    width: 18em;
    vertical-align: top;
}
.form-location-photo {
    width: 18em;
    vertical-align: top;
}
.form-comment {
    vertical-align: top;
}
.form-operation {
    vertical-align: top;
}
