table {
    border-collapse:collapse;
    border:none;
}
th, td {
    border:solid #000 1px;
}
th {
    text-align: center;
}
.info-index {
    width: 3em;
    text-align: center;
}
.info-type {
    width: 3em;
    text-align: center;
}
.info-name {
    width: 10em;
    text-align: left;
}
.info-model {
    width: 6em;
    text-align: left;
}
.info-id {
    width: 6em;
    text-align: left;
}
.info-contract-id {
    width: 5em;
    text-align: left;
}