{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div>
    <table border=1>
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>名称</th>
            <th>型号</th>
            <th>数量</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}