{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>

<div>
    <table border="1">
        <tr>
            <form action="/dbop" method="POST">
                <td>筛选</td>
                <td>
                    <select name="类型">
                        {% if filter[0] %}
                        <option value="{{ filter['类型'] }}" selected="selected">{{ filter[0] }}</option>
                        <option value="">所有</option>
                        {% else %}
                        <option value="" selected="selected">所有</option>
                        {% endif %}
                        <option value="材料">材料</option>
                        <option value="设备">设备</option>
                    </select>
                </td>
                <td><input type="text" name="名称" value="{{ filter['名称'] }}" size=8></td>
                <td><input type="text" name="型号" value="{{ filter['型号'] }}" size=6></td>
                <td><input type="text" name="序列号" value="{{ filter['序列号'] }}" size=6></td>
                <td><input type="text" name="合同号" value="{{ filter['合同号'] }}" size=8></td>
                <td><input type="date" name="到货时间" value="{{ filter['到货时间'] }}"></td>
                <td>
                    <select name="状态">
                        {% if filter[6] %}
                        <option value="{{ filter['状态'] }}" selected="selected">{{ filter['状态'] }}</option>
                        <option value="">所有</option>
                        {% else %}
                        <option value="" selected="selected">所有</option>
                        {% endif %}
                        <option value="在用">在用</option>
                        <option value="待用">待用</option>
                        <option value="待维修">待维修</option>
                        <option value="维修中">维修中</option>
                        <option value="被借">被借</option>
                    </select>
                </td>
                <td><input type="text" name="存放位置" value="{{ filter['存放位置'] }}" size=4></td>
                <td></td>
                <td><input type="submit" name="op" value="筛选"></td>
            </form>
        </tr>
        <tr>
        <form action="/dbop" enctype="multipart/form-data" method="POST">
            <td>插入</td>
            <td>
                <select name="类型">
                    <option value="材料" selected="selected">材料</option>
                    <option value="设备">设备</option>
                </select>
            </td>
            <td><input type="text" name="名称" value="" size=8 required></td>
            <td><input type="text" name="型号" value="" size=6 required></td>
            <td><input type="text" name="序列号" value="" size=6 required></td>
            <td><input type="text" name="合同号" size=8></td>
            <td><input type="date" name="到货时间"></td>
            <td>
                <select name="状态">
                    <option value="在用" selected="selected">在用</option>
                    <option value="待用">待用</option>
                    <option value="待维修">待维修</option>
                    <option value="维修中">维修中</option>
                    <option value="被借">被借</option>
                </select>
            </td>
            <td><input type="text" name="存放位置" size=4></td>
            <td><input type="file" name="file"></td>
            <td><input type="submit" name="op" value="插入"></td>
        </form>
        </tr>
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>名称</th>
            <th>型号</th>
            <th>序列号</th>
            <th>合同号</th>
            <th>到货时间</th>
            <th>状态</th>
            <th>存放位置</th>
            <th>合同文件</th>
            <th>操作</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
            <td>{{ record[6] }}</td>
            <td>{{ record[7] }}</td>
            {% if record[8] != 'None' and record[8] %}
            <td><a href="{{ record[8] }}">下载</a></td>
            {% else %}
            <td>无</td>
            {% endif %}
            <td>
                <form action="/operate" method="POST">
                    <input type="hidden" name="名称" value="{{ record[1] }}">
                    <input type="hidden" name="型号" value="{{ record[2] }}">
                    <input type="hidden" name="序列号" value="{{ record[3] }}">
                    <input type="submit" name="op" value="删除">
                    <input type="submit" name="op" value="修改">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}