{% extends "base.html" %}
{% block content %}
<h2>{{ title }}</h2>

<p id="select-tag" onclick="displaySelectBox()">+筛选</p>
<hr>
<div id="select-box">
    <form action="/info" method="POST" id="select-form" name="筛选">
        <div class="form-group form-type">
            <label for="select-type">类型</label>
            <br>
            <select name="类型" id="select-type">
                <option value="" selected="selected">所有</option>
                <option value="材料">材料</option>
                <option value="设备">设备</option>
            </select>
        </div>
        <div class="form-group form-name">
            <label for="select-name">名称</label>
            <br>
            <input type="text" name="名称" value="{{ filter['名称'] }}" id="select-name">
        </div>
        <div class="form-group form-model">
            <label for="select-model">型号</label>
            <br>
            <input type="text" name="型号" value="{{ filter['型号'] }}" id="select-model">
        </div>
        <div class="form-group form-id">
            <label for="select-id">序列号</label><br>
            <input type="text" name="序列号" value="{{ filter['序列号'] }}" id="select-id">
        </div>
        <div class="form-group form-contract-id">
            <label for="select-contract-id">合同号</label>
            <br>
            <input type="text" name="合同号" value="{{ filter['合同号'] }}" id="select-contract-id">
        </div>
        <div class="form-group form-date">
            <label for="select-date">到货时间</label>
            <br>
            <input type="date" name="到货时间" value="{{ filter['到货时间'] }}" id="select-date">
        </div>
        <div class="form-group form-manager">
            <label for="select-manager">经办人</label>
            <br>
            <input type="text" name="经办人" value="{{ filter['经办人'] }}" id="select-manager">
        </div>
        <div class="form-group form-status">
            <label for="select-status">状态</label>
            <br>
            <select name="状态" id="select-status">
                <option value="" selected="selected">所有</option>
                <option value="在用">在用</option>
                <option value="待用">待用</option>
                <option value="待维修">待维修</option>
                <option value="维修中">维修中</option>
                <option value="被借">被借</option>
            </select>
        </div>
        <div class="form-group form-location">
            <label for="select-location">存放位置</label>
            <br>
            <input type="text" name="存放位置" value="{{ filter['存放位置'] }}" id="select-location">
        </div>
        <div class="form-group form-operation">
            <input type="submit" name="提交" value="筛选">
        </div>
    </form>
</div>

<p id="insert-tag" onclick="displayInsertBox()">+插入</p>
<hr>
<div id="insert-box">
    <form action="/info" enctype="multipart/form-data" method="POST">
        <div class="form-group form-type">
            <label for="insert-type">类型</label>
            <br>
            <select name="类型" id="insert-type">
                <option value="材料" selected="selected">材料</option>
                <option value="设备">设备</option>
            </select>
        </div>
        <div class="form-group form-name">
            <label for="insert-name">名称</label>
            <br>
            <input type="text" name="名称" value="" id="insert-name" required>
        </div>
        <div class="form-group form-model">
            <label for="insert-model">型号</label>
            <br>
            <input type="text" name="型号" value="" id="insert-model" required>
        </div>
        <div class="form-group form-id">
            <label for="insert-id">序列号</label>
            <br>
            <input type="text" name="序列号" value="" id="insert-id" required>
        </div>
        <div class="form-group form-contract-id">
            <label for="insert-contract-id">合同号</label><br>
            <input type="text" name="合同号" id="insert-contract-id">
        </div>
        <div class="form-group form-date">
            <label for="insert-date">到货时间</label>
            <br>
            <input type="date" name="到货时间" id="insert-date"></div>
        <div class="form-group form-manager">
            <label for="insert-manager">经办人</label>
            <br>
            <input type="text" name="经办人" id="insert-manager">
        </div>
        <div class="form-group form-status">
            <label for="insert-status">状态</label>
            <br>
            <select name="状态" id="insert-status">
                <option value="在用" selected="selected">在用</option>
                <option value="待用">待用</option>
                <option value="待维修">待维修</option>
                <option value="维修中">维修中</option>
                <option value="被借">被借</option>
            </select>
        </div>
        <div class="form-group form-location">
            <label for="insert-location">存放位置</label>
            <br>
            <input type="text" name="存放位置" id="insert-location">
        </div>
        <br>
        <div class="form-group form-contract-file">
            <label for="insert-contract-file">合同文件</label>
            <br>
            <input type="button" name="button" id="insert-contract-file" value="添加附件" onclick="addInput()">
            <input type="button" name="button" value="删除附件" onclick="deleteInput()">
            <br>
            <ul id="upload-contract-file"></ul>
        </div>
        <div class="form-group form-photo">
            <label for="insert-photo">照片</label>
            <br>
            <input type="file" name="照片" id="insert-photo">
        </div>
        <div class="form-group form-location-photo">
            <label for="insert-photo">位置照片</label>
            <br>
            <input type="file" name="位置照片" id="insert-photo">
        </div>
        <div class="form-group form-comment">
            <label for="insert-comment">备注</label>
            <br>
            <input type="text" name="备注" id="insert-comment">
        </div>
        <div class="form-group form-operation">
            <input type="submit" name="提交" value="插入">
        </div>
    </form>
</div>

<div>
    <table id="info">
        <tr id="table-head">
            <th class="info-index">序号</th>
            <th class="info-type">类型</th>
            <th class="info-name">名称</th>
            <th class="info-model">型号</th>
            <th class="info-id">序列号</th>
            <th class="info-contract-id">合同号</th>
            <th class="info-date">到货时间</th>
            <th class="info-manager">经办人</th>
            <th class="info-status">状态</th>
            <th class="info-location">存放位置</th>
            <th class="info-contract-file">合同文件</th>
            <th class="info-photo">照片</th>
            <th class="info-location-photo">位置照片</th>
            <th class="info-comment">备注</th>
            <th class="info-operation">操作</th>
        </tr>
        {% for record in records %}
        <tr id="record-{{ loop.index }}">
            <td class="info-index">{{ loop.index }}</td>
            <td class="info-type">{{ record[0] }}</td>
            <td class="info-name">{{ record[1] }}</td>
            <td class="info-model">{{ record[2] }}</td>
            <td class="info-id">{{ record[3] }}</td>
            <td class="info-contract-id">{{ record[4] }}</td>
            <td class="info-date">{{ record[5] }}</td>
            <td class="info-manager">{{ record[6] }}</td>
            <td class="info-status">{{ record[7] }}</td>
            <td class="info-location">{{ record[8] }}</td>
            <td class="info-contract-file" id="contract-file-{{ loop.index }}">
                {% if record[9] %}
                {% for file in record[9] %}
                {% if file != 'None' and file != '' %}
                <a href="static/uploads/{{ record[1] + '-' + record[2] + '-' + record[3] + '/' + file }}">{{ file }}</a>
                {% endif %}
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </td>
            <td class="info-photo" id="photo-{{ loop.index }}">{{ record[10] }}</td>
            <td class="info-location-photo" id="location-photo-{{ loop.index }}">{{ record[11] }}</td>
            <td class="info-comment">{{ record[12] }}</td>
            <td class="info-operation">
                <form action="/info" enctype="multipart/form-data" method="POST"
                 id="delete-{{ loop.index }}" 
                 onsubmit="return deleteRecord('{{ loop.index }}', '{{ record[1] }}', '{{ record[2] }}', '{{ record[3] }}')">
                    <input type="hidden" name="名称" value="{{ record[1] }}">
                    <input type="hidden" name="型号" value="{{ record[2] }}">
                    <input type="hidden" name="序列号" value="{{ record[3] }}">
                    <input type="hidden" name="删除文件" value="true" id="delete-file-{{ loop.index }}">
                    <input type="submit" name="提交" value="删除">
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="15">
                <form action="/info" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="update-type-{{ loop.index }}">类型</label>
                        <br>
                        <select name="类型" id="update-type-{{ loop.index }}">
                            {% if record[0] == '材料' %}
                            <option value="材料" selected="selected">材料</option>
                            <option value="设备">设备</option>
                            {% else %}
                            <option value="材料">材料</option>
                            <option value="设备" selected="selected">设备</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="update-name-{{ loop.index }}">名称</label>
                        <br>
                        <input type="text" name="名称" value="{{ record[1] }}" id="update-name-{{ loop.index }}" required>
                    </div>
                    <div class="form-group">
                        <label for="update-model-{{ loop.index }}">型号</label>
                        <br>
                        <input type="text" name="型号" value="{{ record[2] }}" id="update-model-{{ loop.index }}" required>
                    </div>
                    <div class="form-group">
                        <label for="update-id-{{ loop.index }}">序列号</label>
                        <br>
                        <input type="text" name="序列号" value="{{ record[3] }}" id="update-id-{{ loop.index }}" required>
                    </div>
                    <div class="form-group form-contract-id">
                        <label for="insert-contract-id">合同号</label><br>
                        <input type="text" name="合同号" id="insert-contract-id">
                    </div>
                    <div class="form-group form-date">
                        <label for="insert-date">到货时间</label>
                        <br>
                        <input type="date" name="到货时间" id="insert-date"></div>
                    <div class="form-group form-manager">
                        <label for="insert-manager">经办人</label>
                        <br>
                        <input type="text" name="经办人" id="insert-manager">
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}