{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div>
    <table border="1">
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>名称</th>
            <th>型号</th>
            <th>序列号</th>
            <th>合同号</th>
            <th>到货时间</th>
            <th>状态</th>
            <th>存放位置</th>
            <th>合同文件</th>
            <th>操作</th>
        </tr>
        {% if type == '删除' %}
        {% for record in records %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
            <td>{{ record[6] }}</td>
            <td>{{ record[7] }}</td>
            <form action="/dbop" method="POST">
                {% if record[8] %}
                <td>
                    <a href="record[8]">下载</a> | 是否删除: <input type="radio" name="del_file" value="yes">是
                    <input type="radio" name="del_file" value="no" checked>否
                </td>
                {% else %}
                <td>无<input type="hidden" name="del_file" value="no" checked></td>
                {% endif %}
                <td>
                    <input type="hidden" name="名称" value="{{ record[1] }}">
                    <input type="hidden" name="型号" value="{{ record[2] }}">
                    <input type="hidden" name="序列号" value="{{ record[3] }}">
                    <input type="submit" name="op" value="确认删除">
                    <input type="submit" name="op" value="取消">

                </td>
            </form>
        </tr>
        {% endfor %}
        {% elif type == '修改' %}
        {% for record in records %}
        <tr>
            <form action="/dbop" enctype="multipart/form-data" method="POST">
                <td>{{ loop.index }}</td>
                <td>
                    <select name="类型">
                        <option value="{{ record[0] }}" selected="selected">{{ record[0] }}</option>
                        <option value="材料">材料</option>
                        <option value="设备">设备</option>
                    </select>
                </td>
                <td><input type="text" name="名称" value="{{ record[1] }}" size=8 required></td>
                <td><input type="text" name="型号" value="{{ record[2] }}" size=6 required></td>
                <td><input type="text" name="序列号" value="{{ record[3] }}" size=6 required></td>
                <td><input type="text" name="合同号" value="{{ record[4] }}" size=8></td>
                <td><input type="date" name="到货时间" value="{{ record[5] }}"></td>
                <td>
                    <select name="状态">
                        <option value="{{ record[6] }}" selected="selected">{{ record[6] }}</option>
                        <option value="在用">在用</option>
                        <option value="待用">待用</option>
                        <option value="待维修">待维修</option>
                        <option value="维修中">维修中</option>
                        <option value="被借">被借</option>
                    </select>
                </td>
                <td><input type="text" name="存放位置" value="{{ record[7] }}" size=4></td>
                <td>
                    {% if record[8] != 'None' and record[8] %}
                    <a href="{{ record[8] }}">下载</a> | 是否删除: <input type="radio" name="del_file" value="yes">是
                    <input type="radio" name="del_file" value="no" checked>否 | 
                    {% else %}
                    无 | <input type="hidden" name="del_file" value="no" checked>
                    {% endif %}
                    <input type="file" name="file">
                </td>
                <td>
                    <input type="hidden" name="原名称" value="{{ record[1] }}">
                    <input type="hidden" name="原型号" value="{{ record[2] }}">
                    <input type="hidden" name="原序列号" value="{{ record[3] }}">
                    <input type="submit" name="op" value="确认修改">
                    <input type="submit" name="op" value="取消">
                </td>
            </form>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}